* {
	padding: 0px;
	margin: 0px;
}
body {
	background: url(images/background.gif) repeat-x #afa907;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #ffffff;
	margin-top: 10px;
}
#wrap {
	width: 900px;
	text-align:left;
}
#header {
	background: url(images/background_header.gif) no-repeat;
	height: 200px;
	margin-bottom: 2px;
}
#title {
	float: left;
	background-color: #7d7904;
	padding: 10px;
	float: left;
	margin: 20px 0px 0px 5px;
} 
#topright {
	float: right;
	margin: 20px 20px 0px 0px;
}
#navigation {
	clear: both;
	background: url(images/background_nav.gif) repeat-y;
	border-top: 1px solid #bab100;
	border-bottom: 1px solid #bab100;
	padding: 3px 0px 5px 0px;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}
#sidebar {
	margin: 20px 0px 0px 0px;
	float: right;
	width: 180px;
}
#content {
	margin: 20px 0px 0px 0px;
	color: #474404;
}
#footer {
	clear: both;
	background: url(images/background_footer.gif) repeat-x #9a9506;
	padding: 15px 0px;
	width: 900px;
	text-align: center;
	color: #ffffff;
}
.post{
	background:url(images/background_entry.gif) repeat-x #9b9505;
	width: 700px;
	margin-bottom: 15px;
}
.entry {
	padding: 0px 15px;
/*	width: 650px; */
}
#comments {
	padding: 10px 15px;
	margin-top: 10px; 
}
/* text */
#title h1 {
	font-size: 18pt;
	font-weight: normal;
}
#title h1 a {
	color: #ffffff;
	text-decoration: none;
}
.description {
	font-size: 11pt;
	color: #e1e1e1;
}
#navigation ul li {
	display: inline;
	list-style: none;
}
#navigation li a {
	color: #ffffff;
	padding: 0px 15px;
	text-decoration: none;
}
#navigation li a:hover {
	color: #bab100;
}
#footer a {
	color: #ffffff;
	text-decoration: none;
}
#content ul,
#content ol,
#content h1,
#sidebar ul,
#sidebar h2,
#content h2,
#content h3,
#content h4,
p {
	padding-bottom: 10px;
}
#content ul li,
#content ol li {
	margin-left: 25px;
}
#content h1 {
	font-size: 14pt;
	font-weight: normal;
	color: #ffffff;
	padding: 15px 0px 5px 15px;
}
#content h1 a,
#content h1 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#content h2 {
	font-size: 12pt;
	color: #ffffff;
	padding: 15px 0px 0px 15px;
}
#content h2 a,
#content h2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#content h3 {
	font-size: 11pt;
	color: #ffffff;
	padding: 15px 0px 0px 15px;
}
#content h3 a,
#content h3 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#content h4 {
	font-size: 10px;
	color: #ffffff;
	padding: 15px 0px 0px 15px;
}
#content h4 a,
#content h4 a:hover {
	color: #ffffff;
	text-decoration: none;
}
blockquote {
	color: #ffffff;
	margin: 10px 15px;
	font-size: 9pt;
	font-style: italic;
}
#content li a,
.entry a,
.post a {
	color: #474404;
}
#content li a:hover,
.entry a:hover,
.post a:hover {
	color: #ffffff;
}
#sidebar h2 {
	font-size: 11pt;
}
#sidebar ul li {
	list-style: none;
}
#sidebar a {
	color: #ffffff;
	text-decoration: none;
}
#sidebar a:hover {
	color: #474404;
}
img {
	border: 0px;
}
/* default */
.navigation {
	padding: 10px 0px;
	color: #ffffff;
}
.navigation a {
	color: #ffffff;
	text-decoration: none;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.postmetadata {
	color: #bab100;
	padding: 5px 15px;
	border: 1px solid #bab100;	
	background-color: #474404;
}
.postmetadata a,
.postmetadata a:hover {
	color: #bab100;
	text-decoration: none;
}
#date {
	padding-bottom: 5px;
	color:#ffffff;	

}
#date a {
	color:#ffffff;	
	text-decoration: none;
	font-weight: normal;
}
.comment {
	padding: 10px 0px;
}

/* form */
fieldset {
	border: 0px; 
	padding: 0px 15px 15px 15px;
}
#author, #email, #url, #comment, .s {
	border: 1px solid #999999; 
	padding: 5px;
	font-size: 8pt;
}
#author, #email, #url, #comment {
	padding: 5px;
}
.s {
	padding: 3px;
}
.submit, .searchsubmit, .preview {
	background-color: #82bbc3;
	color: #ffffff;
	border: 1px solid #666666; 
	font-size: 8pt;
	padding: 2px;
	margin: 3px 0px;
}
#commentform a {
	color:#0072bc;	
	text-decoration: none;
}
#commentform a:hover {
	color:#333333;	
	text-decoration: underline;
}
.bComment {
	padding: 0px 15px;
}
.bCommentText {
	padding: 0px 15px;
}
.bCommentSmallPrint {
	font-size: 7pt;
	padding: 0px 15px;
}
.feedback_feed_msg {
	padding: 0px 15px;
}
.widget_core_coll_longdesc p {
	padding-bottom: 0px;
}
.powered_by {
	padding: 10px 0px;
}
/* ---------------------------------------------------------- */
#evo_toolbar ul li,
#evo_toolbar ol li {
   margin-left: 0;
}

#content .image_block {
	text-align: left !important;
}
div.bComment, form.bComment {
	border: none !important;
}
#bCalendarToday {
	border: 1px solid #7d7904 !important;
	background-color: #7d7904 !important;
	color: #222;
}
.bComment textarea {
	width: 95% !important;
}
form.bComment .submit, form.bComment .preview, .compact_search_form .submit, #content .extended_search_form .submit {
	color: #fff;
	background-color: #7d7904;
	border-radius: 0px !important;
	border:1px solid #7d7904 !important;
	cursor: pointer;
}
#content .extended_search_form .submit {
	margin-left: 3px;
}
form.bComment .submit:hover, form.bComment .preview:hover, .compact_search_form .submit:hover, #content .extended_search_form .submit:hover {
	opacity: 0.7;
	background-color: #7d7904;
	color: #fff;
}
blockquote p {
	padding-top: 10px;
	color: #222;
}
